#about {
  width: auto;
  height: 100vh;
  margin-left: 230px;
  padding-top: 150px;
}

.about-container {
  width: 82%;
  height: 70vh;
  background-color: white;
}

.about-title {
  font-size: 1.5em;
}

.about-sub-t {
  font-size: 1.5em;
  font-weight: 600;
}

.about-text {
  font-size: 1.2em;
}

.about-article {
  width: 100%;
  word-break: break-all;
}

.about-btn {
  text-decoration: none;
  font-size: 2em;
}

.about-img {
  width: 345px;
  height: 400px;
}

.twitter {
  color: $twitter-color;
}

.linkedin {
  color: $linkedin-color;
}

.cv {
  text-decoration: none;
  color: $black;
  border-bottom: solid 2px $second-color;
  font-size: 1.5em;
}

