.about {
  width: auto;
  background-color: #f7f7f7;
  height: 100vh;
  margin-left: 230px;
  padding-top: 150px;
}

.about-container {
  width: 70%;
  height: 70vh;
  background-color: white;
}

.about-article {
  width: 100%;
  word-break: break-all;
}

.about-img {
  width: 355px;
  height: 400px;
}

