.navbar {
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;  
  height: 100vh;
  width: 230px;
}

.nav-bg {
  background-color: rgb(14, 13, 13);
}

.nav-list {
  margin: 30px 15px;
  list-style: none;
}

.nav-item {
  text-decoration: none;
}

.picture-profile {
  width: 100px;
  height: 100px;
  margin-top: 90px;
  position: float;
  display: flex;
  border-radius: 100px;
}

