#skills {
  width: auto;
  margin-left: 230px;
  height: 100vh;
}

.card-content {
  padding-top: 70px;
  justify-content: space-evenly;
}

.card {
  width: 30%;
  height: 270px;
  padding: 10px;
}

.card-p {
  padding: 15px;
}

.ruby-icon {
  width: 110px;
  height: 110px;
}