.border {
  border: solid 1px black;
}

.border-bottom {
  border-bottom: solid 1px black;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.mt-1 {
  margin-top: 10px;
}

.m

.ml-1 {
  margin-left: 10px;
}

.padding {
  padding: 10px;
}

.rounded {
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: rgb(201, 195, 195)
}

.text-semigray {
  color: rgb(141, 137, 137)
}