.border {
  border: solid 1px black;
}

.box-shadow {
  box-shadow: 5px -5px 5px -3px rgb(63, 60, 57);
}

.btn {
  padding: 5px;
}

.border-bottom {
  border-bottom: solid 1px black;
}

.bg-second-color {
  background-color: rgb(242, 135, 41);
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
}

.card-content {
  margin-top: 70px;
  justify-content: space-evenly;
  
}

.card {
  width: 30%;
  height: 270px;
  padding: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.mt-1 {
  margin-top: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.padding {
  padding: 10px;
}

.rounded {
  border-radius: 2px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: rgb(250, 248, 248)
}

.text-semigray {
  color: rgb(141, 137, 137)
}
