@import './about';
@import 'contact';
@import './home';
@import './nav';
@import './skills';
@import './projects';
@import './utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



